@media (min-width: 300px) and (max-width: 1600px){
   html{
   background-color: lavender;
   }
}

@media (min-width: 300px) and (max-width: 1600px){
  body {
  color: gray;
  text-align: center;
  font-family: "Merriweather", serif;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  h1 {
  color: ;
  font-size: 6.25rem;
  margin: 60px;
  font-family: "Sacramento";
}
}

@media (min-width: 300px) and (max-width: 1600px){
  h2 {
  color: seagreen;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 15px;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  h3 {
  color: darkred;
  font-family: "Montserrat", sans-serif;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  p{
  line-height: 2;
  font-size: 1.5rem;
  color: sandybrown;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  hr {
  width: 300px;
  margin: 100px auto;
}
}

@media (min-width: 20px) and (max-width: 1600px){
  .top-container {
  background-color: darkgray;
  position: absolute;
  padding-top: 100px;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  .middle-container {
  margin: 50px;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  .bottom-container {
  background-color: lawngreen;
  padding: 50px 0 20px;
}

@media (min-width: 300px) and (max-width: 1600px){
  .Beginner {
  text-decoration: underline;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  .intro {
  width: 30%;
  margin: auto;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  .cr {
  color: darkorchid;
  font-size: 1rem;
  padding: 25px;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  .setup {
  position: flex;
  right: 300px;
  top: 40px;
  left: 10px;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  .NSC{
  color: brown;
}
}

@media (min-width: 300px) and (max-width: 1600px){
  #media{
position: relative;
}